</div>
<script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/assets/js/admin-scripts.js" type="text/javascript"></script>
<script src="/assets/js/admin-datatables-demo.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
</body>

</html>